/* scrollbar */
.nano .pane   { background: #888; }
.nano .slider { background: #111; }

  /* Override bootstrap properties */
body {
    background-color: #374a5d !important;
    border: 0 !important;
}

/* styles main container */
#container{
    margin: 0 auto;
    width: 1060px;
    min-height: 100%;
    background-color: transparent;
    border: 0;
}

/* styling header */
#header{
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
}

/* styling tasks */
.task-list{
    width: 250px;
    float: left;
    margin: 0 5px;
    background-color: #e3e3e3;
    min-height: 240px;
    border-radius: 10px;
    padding-bottom: 15px;
}

/* styling input field */
.task-list input, .task-list textarea{
    width: 240px;
    margin: 1px 5px;
}

.task-list input{
    height: 30px;
}

/* styling button */
.todo-task{
    border-radius: 5px;
    background-color: #fff;
    width: 230px;
    margin: 5px;
    padding: 5px;
}

/* styling task input */
.task-list input[type="button"]{
    width: 100px;
    margin: 5px;

}

.todo-task > .task-header{
    font-weight: bold;
}

.todo-task > .task-date{
    font-size: small;
    font-style: italic;
}

/* styling task description */
.todo-task > .task-description{
    font-size: smaller;
}

/* styling second header */
h3{
    text-align: center;
}

/* styling deleted div and button */
#delete-div{
    display: none;
    background-color: #fff;
    border: 3px dotted #000;
    margin: 10px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(223, 32, 32);
    }

  #completed{
      position: fixed;
      left:20px;
  }  
  }